<div class="row">
  <div class="large-12 columns">
    <h1>Edit Thought Record</h1>
  </div>
</div>

<%= render partial: 'form', locals: {url: activity_log_thought_record_path(@thought_record.ActivityLog, @thought_record)} %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back', activity_log_thought_records_path(@thought_record.ActivityLog) %>
  </div>
</div>
