


<h1 style="color:white;background-color:transparent !important;"> Welcome to Ocelot</h1>
<h4 style="color:white;background-color:transparent !important;">A mental health tracking system.</h4>
<ul class="small-block-grid-3">
  <li><img src = "https://static.pexels.com/photos/14796/pexels-photo-large.jpg"></img></li>
  <li><img src = "https://static.pexels.com/photos/9163/night-large.jpg"></img></li>
  <li><img src = "https://static.pexels.com/photos/6371/red-love-heart-valentines-large.jpg"></img></li>
</ul>
