
<style>
.frosty {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.40);
}
</style>

<h1 style="color:white;background-color:transparent !important;"> Welcome to Ocelot</h1>
<h4 style="color:white;background-color:transparent !important;">A mental health tracking system.</h4>


<div class="row">
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/3335/light-person-woman-night.jpg"></img></div>
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/7307/pexels-photo.jpeg"></img></div>
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/4778/laptop-notebook-working-outside.jpg"></img></div>
</div>
