
<style>
.frosty {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.40);
}
</style>

<h1 style="color:white;background-color:transparent !important;"> Welcome to Ocelot</h1>
<h4 style="color:white;background-color:transparent !important;">A mental health tracking system.</h4>


<div class="row">
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/14796/pexels-photo-large.jpg"></img></div>
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/9163/night-large.jpg"></img></div>
  <div class="large-4 columns"><img src = "https://static.pexels.com/photos/6371/red-love-heart-valentines-large.jpg"></img></div>
</div>
