// Place all the styles related to the ThoughtRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  width: 50rem;
}


#thought_record_FirstEmotionStrength {
  width: 50rem;
}

#thought_record_SecondEmotionStrength {
  width: 50rem;
}
