// Place all the styles related to the ThoughtRecords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.date-time {
  width: 25%;
}

.situation {
  width: 70%;
}

.show-bar {
  width: 5%;
}

.show-left-col {
  width: 10%;
}
