

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Ocelot</label></li>
    <li> <%= link_to 'Activity Log', activity_logs_path %></li>
    <li><a href="#">...</a></li>
  </ul>
</aside>




<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Ocelot</h1>
  </section>
</nav>
